body{
  background-image: url('bg.gif');
}

.bordered{
  margin: auto;
  padding: 25px;
  border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 15px;
}

.block{
  margin: auto;
  padding: 25px;
  width: 430px;
}

.btn{
  margin-right: 15px;
  font-size: 26px;
  color: blue;
  text-decoration: underline;
  width: 200px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: #dddddd;
  display: inline-block;
  border-width: 2px;
  text-align: center;
}

.guestbook-text-container {
    padding: 20px;
    width: 460px;
    flex-grow: 1;
    flex-shrink: 0;
    background: #2dc3ff;
    background-size: auto 100%;
    background-repeat: repeat-x;
    margin: 35px 0 25px;
    color: #000;
    font-size: 1.7em;
    line-height: 1.2em;
    position: relative;
    border: 2px solid #cfcfcf;
}

.about-text-container {
    padding: 20px;
    width: 460px;
    flex-grow: 1;
    flex-shrink: 0;
    background: green;
    background-size: auto 100%;
    background-repeat: repeat-x;
    margin: 35px 0 25px;
    color: #000;
    font-size: 1.7em;
    line-height: 1.2em;
    position: relative;
    border: 2px solid #cfcfcf;
}
