body{
  background-image: url('bg.gif');
}

.bordered{
  margin: auto;
  padding: 25px;
  border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 15px;
}

.block{
  margin: auto;
  padding: 25px;
  width: 430px;
}

.btn{
  margin-right: 15px;
  font-size: 26px;
  color: blue;
  text-decoration: underline;
  width: 200px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
